{
  "extends": ["kentcdodds/es-next"],
  "rules": {
    // these are only here because I did not
    // want to update the entire codebase ¯\_(ツ)_/¯
    "func-names": 0,
    "no-var": 0,
    "func-style": 0,
    "comma-dangle": 0,
    "valid-jsdoc": 0,
    "vars-on-top": 0,
    "complexity": [2, 6],
    //custom conf start
    "no-undef":1,
    "indent":["warn", 4],
    "no-console":0,
    "space-before-function-paren":["off", "always"],
    "space-before-blocks":1,
    "semi" : ["error", "always",{ "omitLastInOneLineBlock": true}],
    "eol-last" :0,
    "no-unused-vars" : 1,
    "no-invalid-this" : 0,
    "comma-spacing" : 0
    //custom conf end
  },
  "globals": {
    "jasmine": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false,
    "_":false,
    "angular":false
  }
}
